:root {
    --background-content: #FFFFFF;
    --background-sidebar: #1E2939;


    --main-text-color: #595959;
    --first-text-color: #000000;
    --second-text-color: #A8A8A8;
    --accent-text-color: #FB6D3A;
}

.container {
    margin: 40px;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: var(--background-content);
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
}

.content-section {
    font-family: 'Montserrat';
    padding: 100px 90px;
}



/* about me section */

.about-me-section {
    margin-bottom: 40px;
}

.about-me-profession {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.about-me-name {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: var(--first-text-color);
    margin-bottom: 25px;
}

.about-me-description {
    width: 400px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-text-color);
}



/* my projects section */

.my-projects-section {
    margin-bottom: 50px;
}

.main-content-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--first-text-color);
    margin-bottom: 10px;
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.my-projects-item {
    color: var(--first-text-color);
    font-weight: 700;
}

.my-projects-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-text-color);
    margin-left: 5px;
}

.my-projects-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-text-color);
}

.my-projects-brakcet {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--first-text-color);
}



/* my work experience */

.my-work-experience-block {
    margin: 0 15px 0 0;
}

.my-work-experience-company {
    color: var(--accent-text-color);
}

.my-work-experience-time {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--second-text-color);
    margin: 0 0 10px 0;
}

.my-work-experience-devider {
    color: var(--first-text-color);
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-text-color);
}



/* my education section */

.my-education-section {
    margin: 0 12px 0 12px;
}

.my-education-university {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent-text-color);
}

.my-education-professional {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--first-text-color);
    padding: 0 12px 0 0;
}



/* sidebar section */

.sidebar-section {
    background-color: var(--background-sidebar);
    width: 370px;
    padding: 15px 20px 0px 20px;
}

.my-contact-section {
    margin: 50px 0px 0px 30px;
}

.sidebar-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--background-content);
    margin-bottom: 10px;
}

.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--background-content);
    margin-right: 7px;
}

.contacts-section-link {
    color: var(--second-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-tech-skills-section {
    margin: 50px 0px 0px 40px;
}

.sidebar-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--background-content);
    margin-bottom: 10px;
}

.tech-skills-list {
    padding: 0 0 0 0px;
}

.tech-skills-item {
    color: var(--accent-text-color);
}

.tech-skills-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--background-content);
}

.my-soft-skills-section {
    margin: 50px 0px 0px 40px;
}

.soft-skills-list {
    padding: 0 0 0 0px;
}

.soft-skills-item {
    color: var(--accent-text-color);
}

.soft-skills-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--background-content);
}